<footer>
  <p>
    @current_user<br>
    <%= @current_user.inspect %>
  </p>
  <p>
    @item<br>
    <%= @item.inspect %>
  </p>
  <div class="copyright">© <%= Date.today.year %> MONOLIST.</div>
</footer>